In [1]:
!conda info --envs

# conda environments:
#
base                     C:\ProgramData\anaconda3
Bansal                   C:\ProgramData\anaconda3\envs\Bansal
SuperEnv                 C:\ProgramData\anaconda3\envs\SuperEnv
database              *  C:\ProgramData\anaconda3\envs\database
nameZa                   C:\ProgramData\anaconda3\envs\nameZa
tf                       C:\ProgramData\anaconda3\envs\tf
database                 c:\ProgramData\anaconda3\envs\database
nameZa                   c:\ProgramData\anaconda3\envs\nameZa

<b> Creating Databases in SQL

In [2]:
#### Create MySQL Connections

import mysql.connector as sql

connection = sql.connect(
    host = "localhost",
    user = "ankit",
    password = "12345"
)
print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000020056889D00>

<b> Creating Database

In [3]:
cursor = connection.cursor()

# cursor.execute("CREATE DATABASE NewServer")

In [4]:
cursor.execute("SHOW DATABASES")

In [5]:
for x in cursor:
    print(x)

('advaid',)
('information_schema',)
('mysql',)
('newserver',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

<b> Connecting Jupyter Notebook to a database

In [6]:
connection = sql.connect(
    host = "localhost",
    user = "ankit",
    password = "12345",
    database = "NewServer"
)
print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000200568AA2D0>

<b>Creating Table in MySQL

In [7]:
cursor = connection.cursor()

cursor.execute("CREATE TABLE studentinfo (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), subject VARCHAR(255))")

In [8]:
query = "INSERT INTO studentinfo (name, subject) VALUES(%s, %s)"
value = ("Chirag", "Stats")
cursor.execute(query, value)
print("Row inserterd", cursor.lastrowid)

Row inserterd 1

In [9]:
query = "INSERT INTO studentinfo (name, subject) VALUES(%s, %s)"
values = [("Chirag","Stats"),
          ("John", "Stats"),
          ("Anagh", "Physics"),
          ("Priyanshu","Calculas"),
          ("Shubham", "English")]

cursor.executemany(query, values)
print("Row Inserted", cursor.lastrowid)

Row Inserted 2

<b>SELECT ALL

In [10]:
cursor = connection.cursor()
cursor.execute("Select * from studentinfo")

In [11]:
#Fetch all from the Data 

cursor.fetchall()

[(1, 'Chirag', 'Stats'),
 (2, 'Chirag', 'Stats'),
 (3, 'John', 'Stats'),
 (4, 'Anagh', 'Physics'),
 (5, 'Priyanshu', 'Calculas'),
 (6, 'Shubham', 'English')]

<b>Selecting particular Rows

In [12]:
cursor.execute("Select * from studentinfo where name='Chirag'")

In [13]:
#Feting all the data
cursor.fetchall()

[(1, 'Chirag', 'Stats'), (2, 'Chirag', 'Stats')]

<b>Selecting Particular Columns

In [14]:
cursor.execute("Select subject from studentinfo")
#Fetch all
cursor.fetchall()

[('Stats',), ('Stats',), ('Stats',), ('Physics',), ('Calculas',), ('English',)]

In [15]:
##Selectinging all distict Columns
cursor.execute("SELECT DISTINCT subject from studentinfo")
#Fetch All
cursor.fetchall()

[('Stats',), ('Physics',), ('Calculas',), ('English',)]

<b> Drop Table

In [16]:
cursor.execute("DROP TABLE studentinfo")