In [1]:
!conda info --envs

# conda environments:
#
base                     C:\ProgramData\anaconda3
Bansal                   C:\ProgramData\anaconda3\envs\Bansal
SuperEnv                 C:\ProgramData\anaconda3\envs\SuperEnv
database              *  C:\ProgramData\anaconda3\envs\database
nameZa                   C:\ProgramData\anaconda3\envs\nameZa
tf                       C:\ProgramData\anaconda3\envs\tf
database                 c:\ProgramData\anaconda3\envs\database
nameZa                   c:\ProgramData\anaconda3\envs\nameZa

<b> Creating Databases in SQL

In [2]:
#### Create MySQL Connections

import mysql.connector as sql

connection = sql.connect(
    host = "localhost",
    user = "ankit",
    password = "12345"
)
print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001C21A57D6D0>

<b> Creating Database

In [3]:
cursor = connection.cursor()

# cursor.execute("CREATE DATABASE NewServer")

In [4]:
cursor.execute("SHOW DATABASES")

In [5]:
for x in cursor:
    print(x)

('advaid',)
('information_schema',)
('mysql',)
('newserver',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

<b> Connecting Jupyter Notebook to a database

In [7]:
connection = sql.connect(
    host = "localhost",
    user = "ankit",
    password = "12345",
    database = "NewServer"
)
print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001C21A48A4B0>

<b>Creating Table in MySQL

In [9]:
cursor = connection.cursor()

cursor.execute("CREATE TABLE studentinfo (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), subject VARCHAR(255))")

In [10]:
query = "INSERT INTO studentinfo (name, subject) VALUES(%s, %s)"
value = ("Chirag", "Stats")
cursor.execute(query, value)
print("Row inserterd", cursor.lastrowid)

Row inserterd 1

In [11]:
query = "INSERT INTO studentinfo (name, subject) VALUES(%s, %s)"
values = [("Chirag","Stats"),
          ("John", "Stats"),
          ("Anagh", "Physics"),
          ("Priyanshu","Calculas"),
          ("Shubham", "English")]

cursor.executemany(query, value)
print("Row Inserted", cursor.lastword)

InterfaceError: Failed executing the operation; Could not process parameters: str(Chirag), it must be of type list, tuple or dict